* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Consolas, "Courier New", monospace;

}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2d3047;
    min-height: 100vh; 
}


.title-1 h1:first-child {
    color:#e0dcf5;
    position: absolute;
    font-size: 8vw; 
    animation: leftright;
    animation-duration: 2s;
    opacity: 0;
    transform: translate(-50%, -50%);
}
@keyframes leftright {
    0%{
        left: -50%;
        opacity: 0;
    }
    50%{
        left: 50%;
        opacity: 1;
    }
    100%{
        left: 150%;
        opacity: 0;
    }
}
.title-2 h2:first-child {
    color:#cbd5ef;
    position: absolute;
    font-size: 8vw; 
    animation: updown;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0 ;
    transform: translate(-50%, -50%);
}
@keyframes updown {
    
    0%{
        top: -50%;
        opacity: 0;
    }
    50%{
        top: 50%;
        opacity: 1;
    }
    100%{
        top: 150%;
        opacity: 0;
    }


}

.title-3 h3:first-child {
    color:#cae0f6;
    position: absolute;
    font-size: 8vw; 
    animation: rightleft;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity: 0;
    transform: translate(-50%, -50%);
}
@keyframes rightleft {
    0%{
        left: 150%;
        opacity: 0;
    }
    50%{
        left: 50%;
        opacity: 1;
    }
    100%{
        left: -50%;
        opacity: 0;
    }
}

.title-4 h4:first-child {
    color:#daedf8;
    position: absolute;
    font-size: 8vw; 
    animation: downup;
    animation-duration: 2s;
    animation-delay: 3s;
    opacity: 0 ;
    transform: translate(-50%, -50%);
}
@keyframes downup {
    
    0%{
        top: 150%;
        opacity: 0;
    }
    50%{
        top: 50%;
        opacity: 1;
    }
    100%{
        top: -50%;
        opacity: 0;
    }
}

